<div class="form-group">
    <label for="name" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
        <input type="text" ng-model="company.name" class="form-control" id="name" placeholder="Company Name"/>
    </div>
</div>
<div class="form-group">
    <label for="address" class="col-sm-2 control-label">Address</label>
    <div class="col-sm-10">
        <input type="text" ng-model="company.address" class="form-control" id="address" placeholder="Company address"/>
    </div>
</div>
<div class="form-group">
    <label for="city" class="col-sm-2 control-label">City</label>
    <div class="col-sm-10">
        <input type="text" ng-model="company.city" class="form-control" id="city" placeholder="City"/>
    </div>
</div>
<div class="form-group">
    <label for="country" class="col-sm-2 control-label">Country</label>
    <div class="col-sm-10">
        <input type="text" ng-model="company.country" class="form-control" id="country" placeholder="Country"/>
    </div>
</div>
<div class="form-group">
    <label for="email" class="col-sm-2 control-label">E-Mail*</label>
    <div class="col-sm-10">
        <input type="text" ng-model="company.email" class="form-control" id="email" placeholder="Email"/>
    </div>
</div>
<div class="form-group">
    <label for="phoneNumber" class="col-sm-2 control-label">Phone Number*</label>
    <div class="col-sm-10">
        <input type="text" ng-model="company.phoneNumber" class="form-control" id="phoneNumber" placeholder="Phone Number"/>
    </div>
</div>
<div class="form-group" ng-repeat="beneficial in company.beneficials">
    <label for="beneficial" class="col-sm-2 control-label">Beneficial {{$index}}</label>
    <div class="col-sm-10">
        <input type="text" ng-model="beneficial.name" class="form-control" id="beneficial" placeholder="Beneficial {{$index}}"/>
        <a class="btn btn-danger"  ng-click="deleteBeneficial($index)">X</a>
    </div>
</div>
<div class="row-fluid">
    <div class="col-md-12">
        &nbsp;
    </div>
</div>
<div class="form-group row-fluid">
    <div class="col-md-offset-2 col-md-10">
        <a ng-click="addBeneficial()" class="btn btn-primary" value="Add">Add beneficial</a>
        <input type="submit" class="btn btn-primary" value="Save"/>
    </div>
</div>